/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('/assets/BebasNeue-webfont.eot');
    src: url('/assets/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/BebasNeue-webfont.woff') format('woff'),
         url('/assets/BebasNeue-webfont.ttf') format('truetype'),
         url('/assets/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "twitter/bootstrap";

.app-body {
  margin-top: 120px;
}

.img-fit {
  max-width: 100%;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 28px;
    padding-bottom: 27px;
  }  
}

.attribution {
  h4 {
    color: #8a6d3b;
    margin:0;
  }
  padding: 20px 20px 10px 20px;
  margin: 0 0 20px;
  background-color: #faf8f0;
  border-left: 3px solid #faebcc;
}
