= image_tag 'big-logo-color.png', class: 'img-fit'
%hr
%iframe.scribd_iframe_embed{src: '//www.scribd.com/embeds/182224505/content?start_page=1&view_mode=scroll&access_key=key-2glo7wpf1dz2aq8ttj1m&show_recommendations=false', scrolling: 'no', id: 'doc_55258', width: '100%', height: '600', frameborder: '0', data: {"auto-height" => "false", "aspect-ratio" => "0.772922022279349"}}